body{
    background-color:#333333 ;
    font-family: 'Open Sans Condensed';
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgb(51, 51, 51)), url('img/bg.png') no-repeat center top / cover;

}
.people{
    display:flex;
}
.text{
    margin-top: 16;
height:23;
background: #444444;
    border: 1px solid #616161;
box-sizing: border-box;
color: #FFFFFF;
}
.type{
    margin-top: 16;
    height:23;
    background: #444444;
    border: 1px solid #616161;
box-sizing: border-box;
color: #FFFFFF;
}
.time{
    background: #444444;
    border: 1px solid #616161;
box-sizing: border-box;
color: #FFFFFF;
    margin-top: 16;
    height:23;
}
.card{
    background: #444444;
    border: 1px solid #616161;
box-sizing: border-box;
color: #FFFFFF;
    margin-top: 16;
    height:23;
}
.out{
    margin-top: 16;
    height:23;
    background: #444444;
    border: 1px solid #616161;
box-sizing: border-box;
color: #FFFFFF;
}
.text1{
    font-size: 16px;
line-height: 22px;
letter-spacing: 0.05em;


/* white */

color: #FFFFFF;
}
.calc{
    width: 100px;
height: 40px;
    background:#D1A954;
}
.clear{
    width: 100px;
height: 40px;
    background:#D1A954;
}
.text2{
    color: #FFFFFF;
}